p{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
h2{
    color: red;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}